<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1>TV Show {{chosen.id}} </h1>
    <h3>Title: {{chosen.name}}</h3>
    <h3>Network: {{chosen.network}}</h3>
    <h3>Release Date: {{chosen.release_date}}</h3>
    <h3>Description:</h3>
    <h5>{{chosen.description}}</h5>

    <a href="/shows/">Back to All Shows</a>

</body>
</html>